<div class="col-md-4 sidebar-gutter">
  <aside>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
      <h3 class="sidebar-title">About Me</h3>
      <div class="widget-container widget-about">
        <a href="post.html"><img src="images/author.jpg" alt=""></a>
        <h4>Jamie Mooz</h4>
        <div class="author-title">Designer</div>
        <p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
      </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
      <h3 class="sidebar-title">Featured Articles</h3>
      <div class="widget-container">
        <% @featured.each do |featured| %>
        <article class="widget-post">
          <div class="post-image">
            <%= image_tag featured.article_img.url(:thumb) %>
          </div>
          <div class="post-body">
            <h2>
              <%= featured.title %>
            </h2>
            <div class="post-meta">
              <span>
                <i class="fa fa-clock-o"></i>
                2. august 2015</span>
              <span>
                <a href="post.html">
                  <i class="fa fa-comment-o"></i>
                  <%= featured.comments.count %></a>
              </span>
            </div>
          </div>
        </article>
        <% end %>

      </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
      <h3 class="sidebar-title">Socials</h3>
      <div class="widget-container">
        <div class="widget-socials">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="#">
            <i class="fa fa-dribbble"></i>
          </a>
          <a href="#">
            <i class="fa fa-reddit"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
      <h3 class="sidebar-title">Categories</h3>
      <div class="widget-container">
        <ul>
          <li>
            <a href="#">Fashion</a>
          </li>
          <li>
            <a href="#">Art</a>
          </li>
          <li>
            <a href="#">Design</a>
          </li>
          <li>
            <a href="#">Featured</a>
          </li>
          <li>
            <a href="#">Graphics</a>
          </li>
          <li>
            <a href="#">Peoples</a>
          </li>
          <li>
            <a href="#">Uncategorized</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
