// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comments {
  h2 {
    margin: 3em 0 1em;
    border-bottom: 1px solid #d6dce0;
    padding-bottom: 0.5em;
  }
  h3 {
    margin-top: 2em;
  }
  .comment {
    border-bottom: 1px solid #d6dce0;
    padding: 1.5em 2em;
    .clear_both {
      clear: both;
    }
    &:after {
      clear: both;
    }
    .comment_content {
      float: left;
      .comment_name {
        margin: 1em 0 0;
        font-size: 0.7em;
        text-transform: uppercase;
      }
      .comment_body {
        font-size: 1.2em;
        margin: 0.2em 0 0;
      }
      .comment_time {
        margin-top: 1.2em;
        font-size: 0.8em;
      }
    }
    .button {
      float: right;
    }
  }
  input[type="text"],
  textarea {
    width: 50%;
  }
}
